###We want to scrape the latest News title 
###and paragraph text from mars.nasa.gov/news/

In [24]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import os
import requests

In [25]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [26]:
url = 'https://www.bloomingdales.com/shop/product/marc-new-york-holden-down-parka-jacket?ID=3141068&RecProdZonePos=prodrec-1&LinkType=prodrec_pdpza&RecProdZoneDesc=RR-CMIO-RT-POC|RR-CMIO|prodrec_pdpza|RR/'
browser.visit(url)

In [28]:
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    #bloomingdales jacket site
    jacket_image = soup.find('li', class_='main-image')

    link = jacket_image.find(class_='main-image-img')
    url = link['src']
    title = link['title']
    print('-----------')
    print(url)
    #print(title)

#browser.click_link_by_partial_text('more')

-----------
https://images.bloomingdalesassets.com/is/image/BLM/products/7/optimized/10076857_fpx.tif?op_sharpen=1&wid=500&fit=fit,1&$filtersm$

In [10]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [6]:


articles = soup.find('li', class_='slide')

text = article.find(class_='list_text')
news_title = text.find(class_='content_title')        
news_title_name = news_title.find('a').text
news_p = text.find(class_='article_teaser_body').text

In [7]:
#print(news_title_name)

In [8]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [9]:
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [10]:
images = soup.find('section', class_='centered_text clearfix main_feature primary_media_feature single')

link = images.find('article')
url = link['style']

featured_image_url = ('https://www.jpl.nasa.gov/' + url[23:75])

In [12]:
print(featured_image_url)

https://www.jpl.nasa.gov//spaceimages/images/wallpaper/PIA19685-1920x1200.jpg

In [13]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [14]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [15]:
tweets = soup.find('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')

mars_weather = tweets.text

print(mars_weather)

Sol 2220 (2018-11-04), high -10C/14F, low -73C/-99F, pressure at 8.66 hPa, daylight 06:16-18:33

In [16]:
url = 'http://space-facts.com/mars/'
tables = pd.read_html(url)
tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [17]:
df = tables[0]
df.columns = ['Description', 'Data']

In [20]:
df.set_index('Description')

                                               Data
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [21]:
df.columns=['','']

In [22]:
df

0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [24]:
mars_table = df.to_html()
mars_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [26]:
mars_table = mars_table.replace('\n', '')
mars_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [24]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

url = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'
browser.visit(url)

In [25]:
html=browser.html
soup=BeautifulSoup(html,'html.parser')

In [32]:
#not sure if I am supposed to grab these big images or do the loop that I did below, ask
hem1 = soup.find(class_='downloads')

li = hem1.find('li')
a = li.find('a')
link = a['href']

print(link)

http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg

In [17]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [18]:
html=browser.html
soup=BeautifulSoup(html,'html.parser')

In [26]:
results = soup.find_all(class_='item')

mars={}
for result in results:
    img = result.find('img')
    img_url = img['src']
    title = result.find('h3').text
    print('-------------------')
    print('https://astrogeology.usgs.gov'+img_url)
    print(title) 
    mars.update({ title:('https://astrogeology.usgs.gov'+img_url)})

-------------------
https://astrogeology.usgs.gov/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png
Cerberus Hemisphere Enhanced
-------------------
https://astrogeology.usgs.gov/cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png
Schiaparelli Hemisphere Enhanced
-------------------
https://astrogeology.usgs.gov/cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png
Syrtis Major Hemisphere Enhanced
-------------------
https://astrogeology.usgs.gov/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png
Valles Marineris Hemisphere Enhanced

In [27]:
mars

{'Cerberus Hemisphere Enhanced': 'https://astrogeology.usgs.gov/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png',
 'Schiaparelli Hemisphere Enhanced': 'https://astrogeology.usgs.gov/cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png',
 'Syrtis Major Hemisphere Enhanced': 'https://astrogeology.usgs.gov/cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png',
 'Valles Marineris Hemisphere Enhanced': 'https://astrogeology.usgs.gov/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png'}

In [21]:
mars = {"title_two": title, "image_url": ("https://astrogeology.usgs.gov" + img_url)}
print(mars)

{'title_two': 'Valles Marineris Hemisphere Enhanced', 'image_url': 'https://astrogeology.usgs.gov/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png'}

In [6]:
hemisphere_image_urls = [
    {'title':'Valles Marineris Hemisphere', 'img_url':'https://astrogeology.usgs.govimg_url/search/map/Mars/Viking/valles_marineris_enhanced'},
    {'title':'Cerberus Hemispehre', 'img_url':'https://astrogeology.usgs.govimg_url/search/map/Mars/Viking/cerberus_enhanced'},
    {'title':'Schiaparelli Hemisphere', 'img_url':'https://astrogeology.usgs.govimg_url/search/map/Mars/Viking/schiaparelli_enhanced'},
    {'title':'Syrtis Major Hemisphere','img_url':'https://astrogeology.usgs.govimg_url/search/map/Mars/Viking/syrtis_major_enhanced'},
]

In [7]:
hemisphere_image_urls

[{'title': 'Valles Marineris Hemisphere',
  'img_url': 'https://astrogeology.usgs.govimg_url/search/map/Mars/Viking/valles_marineris_enhanced'},
 {'title': 'Cerberus Hemispehre',
  'img_url': 'https://astrogeology.usgs.govimg_url/search/map/Mars/Viking/cerberus_enhanced'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'https://astrogeology.usgs.govimg_url/search/map/Mars/Viking/schiaparelli_enhanced'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'https://astrogeology.usgs.govimg_url/search/map/Mars/Viking/syrtis_major_enhanced'}]